<meta charset="UTF-8">
<style>
    button {
      font-size: 50px;
      font-family: Consolas,monaco,monospace; 
      padding: 20px 30px;
      background-color: #2039a7;
      color: white;
      border-radius: 25px;
      border: 4px groove black;
      margin: 0 auto;
      margin-top: 5%;
      display: block;
    }
    h1 {
        text-align: center;
        color: black;
        font-size: 128;
        font-family: Consolas;
        flex-grow: 1;
    }
</style>

<a href="./">BACK</a>

<script src='./Button.js'></script>

<button type="button" onclick="count()">Click Me</button>
<div>
    <h1 id="count_text">0</h1>
</div>
